<!DOCTYPE html>
<html lang="en">

</html><h1>About</h1>
<br>
<h2> Contents</h2>
<br>
<p> This page will include the following information:
    <ul>
        <li> images / logos </li>
        <li> nav bar:
            <ul>
                <li> Hyperlink to home page </li>
                <li> Hyperlink to about page </li>
                <li> Hyperlink to philosophy page </li>
                <li> Hyperlink to services page </li>
                
            </ul>
        </li>
        <br><br>
        <li> About Company, ceo/director, professional summary / history </li>
    </ul>
</p>
</html
