{% extends "navbar.html" %}

{% block page_title %}
    <h2 class="text-center"> About Us <h2>
{% endblock page_title %}

{% block page_content %}

<div class="container justify-content-md-center">
    <div class="row">
        <div class="col-lg-6 text-center">
            <img src="https://images.unsplash.com/photo-1507152832244-10d45c7eda57?q=80&w=2148&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-portrait mb-4" alt="...">
            <h4>Founder Name & Title</h4><br>
        </div>
        <div class="col-lg-6">
            <p><b>About the Founder:</b> Nullam in ligula libero. Mauris vel fermentum purus. Praesent at malesuada turpis. Integer consectetur augue at sapien pellentesque, et malesuada ipsum rhoncus. 
            Nam quis fermentum dui, varius efficitur odio. Praesent a mi finibus, tempor ante sit amet, rhoncus leo. Vivamus malesuada eleifend lacus, at pulvinar nisl porttitor et. 
            Cras nibh augue, aliquam vel neque at, consequat tincidunt justo. Pellentesque vehicula tempor volutpat. Vestibulum in ex at magna rhoncus molestie elementum id ex. 
            Suspendisse et tincidunt quam, aliquet lobortis quam. Vestibulum pharetra leo viverra, ultrices tortor sit amet, varius nulla. Phasellus euismod augue et semper bibendum.</p>
        </div>
    </div>
    <br><hr><br>
    <div class="row justify-content-md-center">
        <div class="col-lg-6">
            <h2>Our History</h2>
            <p>Fusce nisi lorem, suscipit sit amet dolor eu, congue commodo nunc. Fusce aliquam faucibus purus. Suspendisse aliquet, nisl mattis euismod laoreet, nulla ex molestie massa, 
        quis varius mi diam non purus. Fusce imperdiet rutrum magna a imperdiet. Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis. Integer quis metus eu nunc cursus posuere. 
        Aenean dictum scelerisque nibh. Vivamus ac cursus metus, et blandit nibh. Pellentesque scelerisque, lectus sit amet posuere semper, enim est sollicitudin dui, eu semper diam diam quis enim. 
        <br><br>
        Vivamus sapien libero, faucibus et laoreet et, euismod quis libero. Suspendisse ullamcorper interdum tempor. Phasellus ut euismod sapien. Aliquam ut eros quis augue tempus rhoncus. 
        Integer lectus erat, pretium in egestas vitae, fermentum vitae metus. Sed iaculis sem urna, vitae pellentesque massa cursus ut.</p>
        </div>

        <div class="col-lg-6 text-center">
            <img src="https://images.unsplash.com/photo-1588072432836-e10032774350?q=80&w=2972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-landscape mb-4" alt="...">

        </div>
    </div>
    <br><hr><br>
    <div class="row">
        <div class="col-lg-4">
            <img src="https://images.unsplash.com/photo-1561489404-42f13a2f09a2?q=80&w=2970&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-landscape mb-4" alt="...">
        </div>
        <div class="col-lg-8">
            <h2>Impact</h2>
            <p>Cras rhoncus accumsan nulla non condimentum. In blandit turpis a imperdiet consectetur. Praesent massa est, rutrum non iaculis eget, commodo in dolor. In porta nulla elit, 
            ut ultrices neque volutpat in. Phasellus pulvinar dui diam, ut condimentum orci tincidunt eu. Sed tincidunt tincidunt fermentum. Aliquam erat volutpat. Sed justo elit, 
            ultricies a ultricies quis, feugiat eget arcu.
            <br><br>
            Vivamus sapien libero, faucibus et laoreet et, euismod quis libero. Suspendisse ullamcorper interdum tempor. Phasellus ut euismod sapien. Aliquam ut eros quis augue tempus rhoncus. 
            Integer lectus erat, pretium in egestas vitae, fermentum vitae metus. Sed iaculis sem urna, vitae pellentesque massa cursus ut.
            </p>
        </div>
        
    </div>
</div>
    <br><hr><br>  
        

 
        
        
    </div>
    
    <p> This page will include the following information:
    <ul>
        <li> images / logos </li>
        <li> About Company, ceo/director, professional summary / history </li>
    </ul>
    </p>
{% endblock page_content %}
