<!DOCTYPE html>
<html lang="en">
<h1>Welcome to the MCS Home Page</h1>
<br>
<h2> Contents</h2>
<br>
<p>This page will include the following information:
    <ul>
        <li> images / logos </li>
        <li> nav bar:
            <ul>
                <li> Hyperlink to about page </li>
                <li> Hyperlink to philosophy page </li>
                <li> Hyperlink to services page </li>
                <li> Hyperlink to contact page </li>
            </ul>
        </li>
        <li> Link to blog app with latest blog/article viewport </li>
        <li> Viewports to social media </li>
    </ul>
</p>

</html