{% extends "navbar.html" %}

{% block page_title %}
<h1> Home <h1>
{% endblock page_title %}

{% block page_content %}
<br>

<div class="container">
    <h2 class="text-center">Our Company Mission Statement</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit aliquam lorem, id elementum neque feugiat id. 
    Sed vel euismod nulla. Phasellus purus est, volutpat consequat metus nec, bibendum tristique arcu. Cras mollis mauris ut enim porttitor, 
    vel elementum odio euismod. Quisque tincidunt luctus nisi nec egestas. Ut id vehicula lorem, quis dapibus dolor. Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Fusce ut lorem urna. Mauris scelerisque nunc eu commodo fermentum. Etiam viverra odio bibendum elementum laoreet. 
    Fusce molestie nunc quis magna hendrerit, ac finibus nulla commodo. Curabitur eu est vel lacus accumsan tincidunt sed eu nulla. 
    Vivamus congue diam sodales tincidunt ultricies. Fusce non eros fringilla, dictum urna ac, tristique mi. Mauris vestibulum sodales quam eget varius. 
    Aliquam vehicula, urna a dictum efficitur, augue ipsum porta magna, vitae laoreet quam augue sed lacus.</p>
    
    <br><br>

    <!-- Blog Cards -->
    <h2>Articles and Blogs</h2>
    <p> For published published articles, blogs, thinkpieces, news and updates, scroll through our collection:</p>
    <hr>
    <div class="container-fluid py-2 carousel-container">
        <div class="row flex-nowrap overflow-auto">
            {% for post in posts %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-1">
                    <div class="card mb-1">
                        <div class="card-img-container">
                            <img src="https://images.unsplash.com/photo-1561154464-82e9adf32764?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" 
                            class="card-img-top" alt="...">
                        </div>
                        
                        <div class="card-body">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <small class="fs-6 text-muted">{{ post.created_on.date }} <br> Categories:
                                {% for category in post.categories.all %}
                                    <a class="text-muted" href="{% url 'blog_category' category.name %}">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}
                            </small>
                            <p class="card-text fs-5">{{ post.body | slice:":160" }}...</p>
                        </div>
                        <div class="text-end m-2" >
                            <a class="btn btn-warning btn-smt" href="{% url 'blog_detail' post.pk %}" role="button">Read More</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    <br><br>

</div>
{% endblock page_content %}