{% extends "navbar.html" %}

{% block page_title %}
    <h2 class="text-center"> Philosophy <h2>
{% endblock page_title %}


{% block page_content %}
<!-- --- --- Philosophy --- --- -->
<div class="container justify-content-center">
    <div class="row">
        <!-- Text -->
        <div class="col-lg-6">
            <p><b>Our Philosophy:</b> Nullam in ligula libero. Mauris vel fermentum purus. Praesent at malesuada turpis. Integer consectetur augue at sapien pellentesque, et malesuada ipsum rhoncus. 
            Nam quis fermentum dui, varius efficitur odio. Praesent a mi finibus, tempor ante sit amet, rhoncus leo. Vivamus malesuada eleifend lacus, at pulvinar nisl porttitor et. 
            Cras nibh augue, aliquam vel neque at, consequat tincidunt justo. Pellentesque vehicula tempor volutpat. Vestibulum in ex at magna rhoncus molestie elementum id ex. 
            Suspendisse et tincidunt quam, aliquet lobortis quam. Vestibulum pharetra leo viverra, ultrices tortor sit amet, varius nulla. Phasellus euismod augue et semper bibendum.</p>
        </div>
        
        <!-- Image -->
        <div class="col-lg-6 text-center">
            <img src="https://images.unsplash.com/photo-1502082553048-f009c37129b9?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-landscape mb-3" alt="...">
            <h4>Caption</h4><br>
        </div>
    </div>
</div>

<br><hr><br>

<!-- --- --- Social Impact --- --- -->
<div class="container justify-content-center">

    <!-- Event/Initative 1 -->
    <div class="row mb-3">
        <h2 class="text-center">Social Impact:<br><br></h2>
        <!-- Text -->
        <div class="col-sm-6 event-block overflow-scroll">
            <h3>Event/Initative 1</h3>
            <p><b>Detail Impactful Events exercising philosophy principles:</b>Fusce nisi lorem, suscipit sit amet dolor eu, congue commodo nunc. Fusce aliquam faucibus purus. 
            Suspendisse aliquet, nisl mattis euismod laoreet, nulla ex molestie massa,quis varius mi diam non purus. Fusce imperdiet rutrum magna a imperdiet. 
            Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis. Integer quis metus eu nunc cursus posuere. Aenean dictum scelerisque nibh. 
            Vivamus ac cursus metus, et blandit nibh. Pellentesque scelerisque, lectus sit amet posuere semper, enim est sollicitudin dui, eu semper diam diam quis enim. 
            <br><br>
            Vivamus sapien libero, faucibus et laoreet et, euismod quis libero. Suspendisse ullamcorper interdum tempor. Phasellus ut euismod sapien. Aliquam ut eros quis augue tempus rhoncus. 
            Integer lectus erat, pretium in egestas vitae, fermentum vitae metus. Sed iaculis sem urna, vitae pellentesque massa cursus ut.</p>
            <br><br>
        </div>

        <!-- Images -->
        <div class="col-sm-6 event-block overflow-scroll text-center px-2">
                <img src="https://images.unsplash.com/photo-1587825140708-dfaf72ae4b04?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid mb-1 mt-2" alt="...">
                <!--Caption: -->
                <p>Fusce aliquam faucibus purus.</p>
            
                <img src="https://images.unsplash.com/photo-1626287935075-3275d2d9025e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid mb-1 mt-2" alt="...">
                <!--Caption: -->
                <p>Integer quis metus eu nunc cursus posuere.</p>
        
                <img src="https://images.unsplash.com/photo-1558008258-3256797b43f3?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid mb-1 mt-2" alt="...">
                <!--Caption: -->
                <p>Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis.</p>
        </div>
    </div>
    
    <hr>

    <!-- Event/Initative 2 -->
    <div class="row mb-3">
        <!-- Text -->
        <div class="col-sm-6 event-block overflow-scroll">
            <h3>Event/Initative 2</h3>
            <p><b>Detail Impactful Events exercising philosophy principles:</b>Fusce nisi lorem, suscipit sit amet dolor eu, congue commodo nunc. Fusce aliquam faucibus purus. 
            Suspendisse aliquet, nisl mattis euismod laoreet, nulla ex molestie massa,quis varius mi diam non purus. Fusce imperdiet rutrum magna a imperdiet. 
            Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis. Integer quis metus eu nunc cursus posuere. Aenean dictum scelerisque nibh. 
            Vivamus ac cursus metus, et blandit nibh. Pellentesque scelerisque, lectus sit amet posuere semper, enim est sollicitudin dui, eu semper diam diam quis enim. 
            <br><br>
            Vivamus sapien libero, faucibus et laoreet et, euismod quis libero. Suspendisse ullamcorper interdum tempor. Phasellus ut euismod sapien. Aliquam ut eros quis augue tempus rhoncus. 
            Integer lectus erat, pretium in egestas vitae, fermentum vitae metus. Sed iaculis sem urna, vitae pellentesque massa cursus ut.</p>
        </div>

        <!-- Images -->
        <div class="col-sm-6 event-block overflow-scroll text-center px-2">
    
            <img src="https://images.unsplash.com/photo-1615897570286-da936a5dfb81?q=80&w=2121&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid mb-2" alt="...">
            <!--Caption: -->
            <p>Sed iaculis sem urna, vitae pellentesque massa cursus ut.</p>
    
            <img src="https://images.unsplash.com/photo-1622575513237-25514148ef42?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid mb-2" alt="...">
            <!--Caption: -->
            <p>Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis.</p>

            <img src="https://images.unsplash.com/photo-1588072432836-e10032774350?q=80&w=2972&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid mb-2" alt="...">
            <!--Caption: -->
            <p>Aenean dictum scelerisque nibh..</p>  

        </div>
    </div>
    
    <hr>

    <!-- Event/Initative 3 -->
    <div class="row mb-3">
        <!-- Text -->
        <div class="col-sm-6 event-block overflow-scroll">
            <h3>Event/Initative 3</h3>
            <p><b>Detail Impactful Events exercising philosophy principles:</b>Fusce nisi lorem, suscipit sit amet dolor eu, congue commodo nunc. Fusce aliquam faucibus purus. 
            Suspendisse aliquet, nisl mattis euismod laoreet, nulla ex molestie massa,quis varius mi diam non purus. Fusce imperdiet rutrum magna a imperdiet. 
            Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis. Integer quis metus eu nunc cursus posuere. Aenean dictum scelerisque nibh. 
            Vivamus ac cursus metus, et blandit nibh. Pellentesque scelerisque, lectus sit amet posuere semper, enim est sollicitudin dui, eu semper diam diam quis enim.
            <br><br>
            Fusce nisi lorem, suscipit sit amet dolor eu, congue commodo nunc. Fusce aliquam faucibus purus. 
            Suspendisse aliquet, nisl mattis euismod laoreet, nulla ex molestie massa,quis varius mi diam non purus. Fusce imperdiet rutrum magna a imperdiet. 
            Morbi tincidunt viverra lacus, sit amet rutrum eros tempor quis. Integer quis metus eu nunc cursus posuere. Aenean dictum scelerisque nibh. 
            Vivamus ac cursus metus, et blandit nibh. Pellentesque scelerisque, lectus sit amet posuere semper, enim est sollicitudin dui, eu semper diam diam quis enim.
            <br><br>
            Vivamus sapien libero, faucibus et laoreet et, euismod quis libero. Suspendisse ullamcorper interdum tempor. Phasellus ut euismod sapien. Aliquam ut eros quis augue tempus rhoncus. 
            Integer lectus erat, pretium in egestas vitae, fermentum vitae metus. Sed iaculis sem urna, vitae pellentesque massa cursus ut.</p>
        </div>

        <!-- Images -->
        <div class="col-sm-6 event-block overflow-scroll text-center px-2">
     
            <img src="https://plus.unsplash.com/premium_photo-1682089692543-99cfeb42a278?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid m-1" alt="...">
            <!--Caption: -->
            <p>Fusce imperdiet rutrum magna a imperdiet.</p>

            <img src="https://images.unsplash.com/photo-1509062522246-3755977927d7?q=80&w=2132&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid m-1" alt="...">
            <!--Caption: -->
            <p>Sed iaculis sem urna, vitae pellentesque massa cursus ut.</p>
     
            <img src="https://images.unsplash.com/photo-1588075592446-265fd1e6e76f?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="img-fluid m-1" alt="...">
            <!--Caption: -->
            <p>Integer quis metus eu nunc cursus posuere.</p>
        </div>

      </div>
        
</div>

<br><hr><br>

<div class="container">
    <p> This page will include the following information:
    <ul>
        <li> images / logos </li>
        <li> Paragraphs about philosophy </li>
        <li> Images and events exercising said philosophy - achievements etc. </li>
    </ul>
</div>
{% endblock page_content %}


