<!DOCTYPE html>
<html lang="en">

<h1>Philosophy</h1>
<br>
<h2> Contents</h2>
<br>
<p> This page will include the following information:
    <ul>
        <li> images / logos </li>
        <li> nav bar:
            <ul>
                <li> Hyperlink to home page </li>
                <li> Hyperlink to about page </li>
                <li> Hyperlink to services page </li>
                <li> Hyperlink to contact page </li>
            </ul>
        </li>
        <br><br>
        <li> Paragraphs about philosophy </li>
        <li> Images and events excercising said philosophy - achievements etc. </li>
    </ul>
</p>

</html