<!DOCTYPE html>
<html lang="en">

<h1>Services</h1>
<br>
<h2> Contents</h2>
<br>
<p> This page will include the following information:
    <ul>
        <li> images / logos </li>
        <li> nav bar:
            <ul>
                <li> Hyperlink to home page </li>
                <li> Hyperlink to about page </li>
                <li> Hyperlink to philosophy page </li>
                <li> Hyperlink to contact page </li>
            </ul>
        </li>
        <br><br>
        <li> Services for private clients - panel with reviews </li>
        <li> Services for corporate clients  - panel with organisations worked with</li>
        <li> Additional services - seminars, webinars, television and radio </li>
    </ul>
</p>

</html