{% extends "navbar.html" %}

{% block page_title %}
    <h2> Services <h2>
{% endblock page_title %}
    
{% block page_content %}


 <!-- Corporate Services -->
<div class="container">
    <h3 class="mb-4">Corporate Services</h3>
    <!-- Text -->
    <div class="row">
        
        <div class="col">
            <ul>
                <li class="mb-3">Service One</li>
                <li class="mb-3">Service Two</li>
                <li class="mb-3">Service Three</li>
                <li class="mb-3">Service Four</li>
                <li class="mb-3">Service Five</li>
                <li class="mb-3">Service Six</li>
            </ul>
        </div>
    </div>

    <!-- Images -->
    <div class="row">
        <div class="d-flex flex-row overflow-scroll mt-2 mb-2">
        
            <img src="https://images.unsplash.com/photo-1556761175-5973dc0f32e7?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            class="m-1" style="height:180px; max-width: 100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1459499362902-55a20553e082?q=80&w=1910&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1524758870432-af57e54afa26?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
        </div>  
    </div>

    <!-- Button -->
    <div class="row">
        <div><a class="btn btn-outline-dark btn-smt m-2" href="#" role="button">Enqire Now</a></div>
    </div>
</div>

<br><hr><br>

<!-- Public Events -->
<div class="container">
    <h3 class="mb-4">Public Events</h3>
    
    <!-- Text -->
    <div class="row">
        <p><b>Description of possible events:</b> Nullam in ligula libero. Mauris vel fermentum purus. Praesent at malesuada turpis. Integer consectetur augue at sapien pellentesque, et malesuada ipsum rhoncus. 
        Nam quis fermentum dui, varius efficitur odio. Praesent a mi finibus, tempor ante sit amet, rhoncus leo. Vivamus malesuada eleifend lacus, at pulvinar nisl porttitor et. 
        </p>
    </div>
    
    <!-- Images -->
    <div class="row">
        <div class="d-flex flex-row overflow-scroll mt-2 mb-2">
            <img src="https://images.unsplash.com/photo-1601856254555-a9c0ebef8af3?q=80&w=1688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            class="m-1" style="height:180px; max-width: 100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1581368087049-7034ed0d1e6f?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1602743297108-4c9061884285?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1558008258-3256797b43f3?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
        </div>  
    </div>
    <div class="row">
        <div><a class="btn btn-outline-dark btn-smt m-2" href="#" role="button">Enqire Now</a></div>
    </div>
</div>

<br><hr><br>

<div class="container">
    <h3 class="mb-4">Private Services</h3>
    <div class="row">
        <!-- Text -->
        <div class="col service-block">
            <ul>
                <li class="mb-3">Service One: Nullam in ligula libero. Mauris vel fermentum purus. Nullam in ligula libero. Mauris vel fermentum purus.</li>
                <li class="mb-3">Service Two: Mauris vel fermentum purus. Nullam in ligula libero.</li>
                <li class="mb-3">Service Three: Praesent a mi finibus, tempor ante sit amet, rhoncus leo</li>
                <li class="mb-3">Service Four: Nam quis fermentum dui, varius efficitur odio.</li>
                <li class="mb-3">Service Five: Vivamus malesuada eleifend lacus, at pulvinar nisl porttitor et.</li>
                <li class="mb-3">Service Six: Nam quis fermentum dui, varius efficitur odio.</li>
            </ul>
        </div>

        <!-- Images -->
        <div class="col service-img-block overflow-hidden">
            <img src="https://images.unsplash.com/photo-1592947945242-69312358628b?q=80&w=2188&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="img-fluid mb-3" style="max-height:360px; object-fit: cover;" alt="...">    
        </div>
    </div>
    <div class="row">
        <div><a class="btn btn-outline-dark btn-smt m-2" href="#" role="button">Book Now</a></div>
    </div>
</div>

<br><hr><br>

<div class="container">
    <h3 class="mb-4">Assessments</h3>
    
    <!-- Text -->
    <div class="row">
        <div class="col">
            <ul>
                <li class="mb-3">Service One</li>
                <li class="mb-3">Service Two</li>
                <li class="mb-3">Service Three</li>
                <li class="mb-3">Service Four</li>
                <li class="mb-3">Service Five</li>
                <li class="mb-3">Service Six</li>
            </ul> 
        </div> 
    </div>

    <!-- Button -->
    <div class="row">
        <div><a class="btn btn-outline-dark btn-smt m-2" href="#" role="button">Enqire Now</a></div>
    </div>
</div>

<br><hr><br>

<div class="container">
    <h3 class="mb-4">On-The-Go Services</h3>
    <div class="row">
        <!-- Text -->
            <p><b>Our Philosophy:</b> Nullam in ligula libero. Mauris vel fermentum purus. Praesent at malesuada turpis. Integer consectetur augue at sapien pellentesque, et malesuada ipsum rhoncus. 
            Nam quis fermentum dui, varius efficitur odio. Praesent a mi finibus, tempor ante sit amet, rhoncus leo. Vivamus malesuada eleifend lacus, at pulvinar nisl porttitor et. 
            Cras nibh augue, aliquam vel neque at, consequat tincidunt justo. Pellentesque vehicula tempor volutpat. Vestibulum in ex at magna rhoncus molestie elementum id ex. 
            Suspendisse et tincidunt quam, aliquet lobortis quam. Vestibulum pharetra leo viverra, ultrices tortor sit amet, varius nulla. Phasellus euismod augue et semper bibendum.</p>
    </div>

    <!-- Images -->
    <div class="row">
        <div class="d-flex flex-row overflow-scroll mt-2 mb-2">
            <img src="https://images.unsplash.com/photo-1601856254555-a9c0ebef8af3?q=80&w=1688&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" 
            class="m-1" style="height:180px; max-width: 100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1581368087049-7034ed0d1e6f?q=80&w=2187&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1602743297108-4c9061884285?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1558008258-3256797b43f3?q=80&w=2062&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
            <img src="https://images.unsplash.com/photo-1600880292203-757bb62b4baf?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="m-1" style="height:180px; max-width:100%; object-fit: cover;" alt="...">
        </div>  
    </div>

    <!-- Button -->
    <div class="row">
        <div><a class="btn btn-outline-dark btn-smt m-2" href="#" role="button">Enqire Now</a></div>
    </div>
</div>

<br><hr><br>
{% endblock page_content %}



