{% extends "navbar.html" %}

{% block page_title %}
    <h2> Services <h2>
{% endblock page_title %}
    
    <br> <br>

    <h2> Services Contents</h2>
    <br>
    <p> This page will include the following information:
        <ul>
            <li> images / logos </li>
            <li> Services for private clients - panel with reviews </li>
            <li> Services for corporate clients  - panel with organisations worked with</li>
            <li> Additional services - seminars, webinars, television and radio </li>
        </ul>
    </p>


