body {
    background-color: rgba(207, 156, 26, 0.319);
}

/* --- --- --- Blog Card Carousel --- --- --- */

/* Blog Card */

.overflow-auto {
    overflow-x: auto;           /* Enable Horizontal scrolling */
    /* white-space: nowrap;         Prevent line breaks */
}

.card {
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
}

.card-body {
    height: 290px;
}

.card-img-container {
    padding-top: 40%; /* aspect ratio (height / width) */
    position: relative;
}

.card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Carousel container */


.carousel-container {
    /* Add styling properties as needed */
    border-radius: 5px; /* Add border radius for rounded corners */
    overflow-x: auto; /* Enable horizontal scrolling */
}

/* --- --- --- Images --- --- --- */

.img-header {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.img-portrait {
    max-height: 300px;
    object-fit: cover;
    border-radius: 5px; /* Add border radius for rounded corners */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 5px;
}

.img-landscape {
    max-width: 400px;
    object-fit: cover;
    border-radius: 5px; /* Add border radius for rounded corners */
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    margin: 5px;
}